<!-- <form action= "<%= article_path %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="text" name="article[location]"
    value="<%=@article.location%>"><br/>
  <input type="text" name="article[latitude]"
    value="<%=@article.latitude%>"><br/>
  <input type="text" name="article[longitude]"
    value="<%=@article.longitude%>"><br/>
  <input type="text" name="article[body]"
    value="<%=@article.body%>"><br/>
  <input id="date_traveled" type="date" name="article[date_traveled]" value="<%=@article.date_traveled%>"><br/>
  <input type="submit" value="Add to Map">
</form> -->
